<h1>Demo</h1>
<div>
<!--  <lib-angular3d #angular3dComponent sceneUrl="assets/scene01.json"></lib-angular3d>-->
  <lib-angular3d #angular3dComponent></lib-angular3d>
</div>
<div>
  <ul>
    <li (click)="rotateOverX(3.14 / 10)">rotate X+</li>
    <li (click)="rotateOverX(-3.14 / 10)">rotate X-</li>
    <li (click)="rotateOverY(3.14 / 10)">rotate Y+</li>
    <li (click)="rotateOverY(-3.14 / 10)">rotate Y-</li>
    <li (click)="rotateOverZ(3.14 / 10)">rotate Z+</li>
    <li (click)="rotateOverZ(-3.14 / 10)">rotate Z-</li>
  </ul>
</div>

<div>
  <app-rubiks-cube></app-rubiks-cube>
</div>
